<h1>You played Paper</h1>
<p>Computer played: <%= @comp_move %></p>
<p>Outcome: <%= @outcome %></p>
<a href="/">Play again</a>
<h1>You played Paper</h1>
<p>Computer played: <%= @comp_move %></p>
<p>Outcome: <%= @outcome %></p>
<a href="/">Play again</a>
